extends ../layouts/layout

block content
  .content(ng-app='viewerApp')
    nav.top-bar
      ul.title-area
        li.name
          h1
            a TrainguidePH API Viewer
    section.main(ng-view)

block append scripts
  script(src='/scripts/viewer-app.js')