doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300')
		if !production
			link(rel='stylesheet', href='/stylesheets/foundation.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/antiscroll.css')
		else
			link(rel='stylesheet', href='/stylesheets/main.css')
	body
		block content

		include scripts
