extends layout

block content
  div(ng-app="trainguide")
    div(ng-controller="MainCtrl")
      h1= message
      p Welcome to {{message}} #{title}

block scripts
  script(src='./components/jquery/jquery.js')
  script(src='./components/AngularJS/angular.js')
  script(src='./scripts/docs.js')