.sidebar
	.header
		.title 
			h1 TrainGuide.PH
			p Helping You Get Around Metro Manila by Train
		.logo
			img(src='/images/logo.png', width='50px', height='50px')
	.clearfix
	.content
		radio-group(selected-item-handler='selectedItemHandler'
			menu-items='menuItems',
			selected-item='selectedItem',
			show-details='showDetails').control-tabs
		.directions Transit directions
			form from:
				input(type='text')
				| to:
				input(type='text')
				| Depart at: 
				select
					option 00:00
					option 08:00
					option 10:00
				br
				input(type='submit', value='Get Directions')
	.footer
		a
			span About
		a
			span Contact
		a
			span Download