.sidebar
	.header
		.logo
			img(src='/images/logo.png')
		.title 
			h1 Manila Train Guide
		.train-links
			span
				a(href='https://www.facebook.com/manilatrainguide', target='_blank')#facebook-link.icon-facebook
			span
				a(href='http://blog.trainguide.ph/', target='_blank')#blogger-link.icon-blogger
			span
				a(href='https://twitter.com/trainguidePH', target='_blank')#twitter-link.icon-twitter
	.clearfix
	.content
		radio-group(selected-item-handler='selectedItemHandler'
			menu-items='menuItems',
			selected-item='selectedItem',
			show-details='showDetails').control-tabs
		.directions(ng-controller='DirectionCtrl') Transit directions
			form from:
				input(type='text')
				| to:
				input(type='text')
				| Depart at: 
				select
					option 00:00
					option 08:00
					option 10:00
				br
				input(type='submit', value='Get Directions', ng-click='getDirections()')
	.footer
		ul
			li: a
				span FAQ
			li: a
				span Contact
			li: a
				span About