.sidebar
	.header
		.logo
			img(src='/images/logo.png')
		.title 
			h1 Manila Train Guide
		.train-links
			span
				a(href='https://www.facebook.com/manilatrainguide', target='_blank')#facebook-link.icon-facebook
			span
				a(href='http://blog.trainguide.ph/', target='_blank')#blogger-link.icon-blogger
			span
				a(href='https://twitter.com/trainguidePH', target='_blank')#twitter-link.icon-twitter
		.clearfix
	.content
		radio-group(selected-item-handler='selectedItemHandler'
			menu-items='menuItems',
			selected-item='selectedItem',
			show-details='showDetails').control-tabs
		.directions(ng-controller='DirectionCtrl') 
			h4 Trip Planner
			form 
				.trip-input
					//- label From:
					a(ng-class='{active:selected.isSearch.from}', ng-click='selected.isSearch.from = !selected.isSearch.from; selected.isSearch.to = false;').tiny.button 
						span.text From
						span.plus +
					input(type='text', places-autocomplete, place="selected.direction.from")
				
				.trip-input
					//- label To:
					a(ng-class='{active:selected.isSearch.to}', ng-click='selected.isSearch.to = !selected.isSearch.to; selected.isSearch.from = false;').tiny.button 
						span.text To
						span.plus +
					input(type='text', places-autocomplete, place="selected.direction.to")
				.trip-check
					input(type='checkbox', ng-model='avoidBuses', value='Try Buses')
					label Trains Only
				input(type='submit', value='Get Directions', ng-click='getDirections()', class='tiny button')#getdirections-btn
			div(ng-show='loadingQuery', style="clear:both;")
				.error Loading...
			div(ng-show='plan && !errorMessage')#directions-result
				div
					h6 Suggested Routes
					ul
						li(ng-repeat='trip in plan.itineraries', ng-click='selected.itinerary = trip').routes
							//- span {{$index + 1}}: {{trip.duration|tominutes}} minutes
							route(trip='trip', isselected='selected.itinerary == trip')
				div
					h6 Directions
					.steps-list
						ul
							li(ng-repeat='leg in selected.itinerary.legs')
								//- span {{$index + 1}}: {{leg.mode|realmode:leg.routeId}} {{leg.from.name}} to {{leg.to.name}}
								direction(leg='leg', is-last='$index + 1 == selected.itinerary.legs.length', selected-leg='selected.leg').steps

			div(ng-show='errorMessage', style="clear:both;")
				.error {{errorMessage}}

	.footer
		ul
			li: a(href="http://blog.trainguide.ph/p/faq.html", target="_blank")
				span FAQ
			li: a(href="http://blog.trainguide.ph/p/contact.html", target="_blank")
				span Contact
			li: a(href="http://blog.trainguide.ph/p/about.html", target="_blank")
				span About