.sidebar
	.header
		.logo
			img(src='/images/logo.png')
		.title 
			h1 Manila Train Guide
		.train-links
			span
				a(href='https://www.facebook.com/manilatrainguide', target='_blank')#facebook-link.icon-facebook
			span
				a(href='http://blog.trainguide.ph/', target='_blank')#blogger-link.icon-blogger
			span
				a(href='https://twitter.com/trainguidePH', target='_blank')#twitter-link.icon-twitter
	.clearfix
	.content
		radio-group(selected-item-handler='selectedItemHandler'
			menu-items='menuItems',
			selected-item='selectedItem',
			show-details='showDetails').control-tabs
		.directions(ng-controller='DirectionCtrl') Transit directions
			form from:
				input(type='text', places-autocomplete, value="Sup", place="direction.from")
				| to:
				input(type='text', places-autocomplete, place="direction.to")
				br
				input(type='submit', value='Get Directions', ng-click='getDirections()')
			span(ng-show='loadingQuery') Loading...
			div(ng-show='plan')
				div
					span Trips
					ul
						li(ng-repeat='trip in plan.itineraries', ng-click='direction.activeTrip = trip')
							span {{$index + 1}}: {{trip.duration|tominutes}} minutes
				div
					span Directions
					ul
						li(ng-repeat='leg in direction.activeTrip.legs')
							span {{$index + 1}}: {{leg.mode|realmode:leg.routeId}} {{leg.from.name}} to {{leg.to.name}}

	.footer
		ul
			li: a
				span FAQ
			li: a
				span Contact
			li: a
				span About