slide-group(selected-item='selectedItem', selected-stop='selected.stop', selected-line='selected.line', show-details='showDetails').slide-group
		slide(title='Line')
			.title-box
				h2 Line
					span  view
			.content-box
				lines(lines='lines', selected-line='selected.line', selected-stop='selected.stop', show-details='showDetails')
				.content-inner
					#stop-content(ng-class="{true:'showdetails', false:'nodetails'}[showDetails]")

						slideshow(images='selectedItem.images')
			
						sights-slide(selected-stop="selected.stop", get-places-count="getPlaces", on-query-places="getLimitedPlaces", sights="selected.sights")

						shops-slide(selected-stop="selected.stop", get-places-count="getPlaces", on-query-places="getLimitedPlaces", shops="selected.shops")

					#line-content(ng-class="{true:'nodetails', false:'showdetails'}[showDetails]")
						line-stops(selected-item="selectedItem", selected-line='selected.line', selected-stop='selected.stop', show-details='showDetails')

		slide(title='Places')
			.title-box
				h2.place Places
					span  to go
				.search-form
					i.icon-search
					input(type="text", placeholder="Search").search-box
			.content-box(ng-controller='PlaceCtrl')
				categories(categories="activeCategories", selected-category="selected.category")
				places(selected-category='selected.category', get-places-count="getPlaces", on-query-places="getLimitedPlaces", places="places", active-categories="activeCategories")

		slide(title='Featured')
			.featured-box
				.title-box
					h2 Featured
						span  places

				.content-box
					ul
						li(ng-repeat='place in featuredPlaces')
							.landmark
								img(src='{{place.image}}').{{place.line}}
								info
									span
										h4 {{place.name}}
									span {{place.stop}}

		slide(title='Tips')
			.title-box
				h2 Tips
			.content-box