slide-group(selected-item='selectedItem', selected-stop='selected.stop', selected-line='selected.line', show-details='showDetails').slide-group
		slide(title='Line')
			.content-box(style='top: 0px;')
				lines(lines='lines', selected-line='selected.line', selected-stop='selected.stop', show-details='showDetails', get-line-details='getLineDetails')
				.content-inner
					#stop-content(ng-class="{true:'showdetails', false:'nodetails'}[showDetails]")

						slideshow(images='selectedItem.images')

						placesbox(title="Sightseeing", icon="icon-sights", on-query-places="getLimitedPlaces", places="selected.sights", category="Sightseeing", stopname="selected.stop.details.stop_name", selected-dest="selected.dest")

						placesbox(title="Shopping", icon="icon-shopping", on-query-places="getLimitedPlaces", places="selected.shops", category="Shopping", stopname="selected.stop.details.stop_name", selected-dest="selected.dest")


					#line-content(ng-class="{true:'nodetails', false:'showdetails'}[showDetails]")
						line-stops(selected-item="selectedItem", selected-line='selected.line', selected-stop='selected.stop', show-details='showDetails')

		slide(title='Places')
			div(ng-controller='PlaceCtrl')
				.title-box
					search(selected-category="selected.category", search-str="searchStr", on-search="searchFn", result-places="resultPlaces")
				.content-box
					categories(categories="activeCategories", selected-category="selected.category", 
						search-str="searchStr", result-places="resultPlaces")
					places(selected-category="selected.category", search-str="searchStr",
						get-places-count="getPlaces", on-query-places="getLimitedPlaces", 
						places="places", active-categories="activeCategories", 
						result-places="resultPlaces", on-search="searchFn")

		slide(title='Featured')
			.featured-box
				.title-box
					h2 Featured
						span  places

				.content-box
					ul
						li(ng-repeat='place in featuredPlaces')
							.landmark
								img(src='{{place.image}}').{{place.line}}
								info
									span
										h4 {{place.name}}
									span {{place.stop}}

		slide(title='Tips')
			tips(title="Ticketing")
			tips(title="Time")

		slide(title='Download')
			div
				h6 Download
				div.tips We also made an easy to use brochure that you can print out or view on your favorite mobile devices
					p
						a(href='http://db.tt/Un7XOsSb')
							h3 Tablet Size Hi Res (2048x1536px)
					p
						a(href='http://db.tt/88wYVJLd')
							h3 Tablet Size Low Res (1024x768px)
					p
						a(href='http://db.tt/4oErTt3y')
							h3 Print Size (8.5x11 inches)