@import url(./normalize.css);
/* variables */
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* mixins */
.trainlinks-colorstyle {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 1px;
}
/* elements */
html {
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.container.adjust {
  left: -300px;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19pt;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}
h6 {
  background-color: #e5e5e5;
  padding: 10px;
  font-weight: bolder;
}
a {
  color: #00B7FF;
}
table {
  width: 100%;
  table-layout: fixed;
}
table td {
  word-wrap: break-word;
  text-align: center;
}
.clearfix {
  clear: both;
}
/* sidebar */
.sidebar {
  width: 18%;
  min-width: 260px;
  max-width: 270px;
  height: 100%;
  position: fixed;
  background: white;
  float: right;
  top: 0;
  right: 0;
  border-left: 1px solid #cccccc;
  z-index: 1;
}
.sidebar .header {
  font-size: 25pt;
  margin: 5px 10px 10px 10px;
}
.sidebar .header .title {
  width: 35%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar .header .title h1 {
  font-weight: bold;
  font-size: 0.7em;
}
.sidebar .header .title p {
  font-size: 9pt;
  line-height: 15px;
}
.sidebar .header .logo {
  float: left;
}
.sidebar .header .logo img {
  width: 68px;
  height: 68px;
}
.sidebar .header .train-links {
  font-size: 0.7em;
  top: 50px;
  position: absolute;
  left: 165px;
}
.sidebar .header .train-links span {
  padding-left: 10px;
  width: 30%;
  display: inline-block;
}
.sidebar .header .train-links span a {
  color: #585858;
  background-color: white;
}
.sidebar .content .control-tabs {
  width: 100%;
  background-color: #e5e5e5;
  height: 31px;
}
.sidebar .content .control-tabs ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}
.sidebar .content .control-tabs ul li {
  display: table-cell;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
}
.sidebar .content .control-tabs ul li a {
  float: left;
  padding-top: 7px;
  text-align: center;
  color: #8b8b8b;
}
.sidebar .content .control-tabs ul li a:hover span {
  border-bottom: 5px solid #5cc15a;
  color: #585858;
}
.sidebar .content .control-tabs ul li a.active span {
  border-bottom: 5px solid #5cc15a;
  color: #585858;
}
.sidebar .content .directions {
  margin: 5px;
}
.sidebar .content .directions input[type="text"] {
  width: 100%;
}
.sidebar .content .directions select {
  width: auto;
}
.sidebar .footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.sidebar .footer ul {
  width: 100%;
  margin: 0 auto;
}
.sidebar .footer ul li {
  display: table-cell;
  margin: 0 auto;
}
.sidebar .footer ul li a {
  padding: 0 27px;
  padding-bottom: 5px;
  color: #333333;
}
.sidebar .footer ul li a span {
  font-size: 9pt;
}
/* line colors */
.LRT1 {
  background: #fdc33c;
}
li.LRT1.clicked {
  background: #fdc33c;
  height: 200px;
}
li.LRT1.clicked p {
  font-size: 12px;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
}
.LRT2 {
  background: #ad86bc;
}
li.LRT2.clicked {
  background: #ad86bc;
  height: 200px;
}
li.LRT2.clicked p {
  font-size: 12px;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
}
.MRT {
  background: #5384c4;
}
li.MRT.clicked {
  background: #5384c4;
  height: 200px;
}
li.MRT.clicked p {
  font-size: 12px;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
}
.PNR {
  background: #f28740;
}
li.PNR.clicked {
  background: #f28740;
  height: 200px;
}
li.PNR.clicked p {
  font-size: 12px;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
}
/* slidegroup */
.slide-group {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 1;
  border-left: 1px solid #cccccc;
}
.slide-group .slide {
  display: none;
}
.slide-group .active {
  display: block;
}
.slide-group .title-box,
.slide-group .stop-desc {
  margin: 5px 10px;
}
.slide-group .title-box h2,
.slide-group .stop-desc h2 {
  font-weight: bold;
}
.slide-group .title-box h2.place,
.slide-group .stop-desc h2.place {
  width: 45%;
  float: left;
}
.slide-group .title-box p,
.slide-group .stop-desc p {
  font-size: 9pt;
  line-height: 15px;
}
.slide-group .title-box span,
.slide-group .stop-desc span {
  font-weight: normal;
  font-size: 13pt;
}
.slide-group .title-box .search-form,
.slide-group .stop-desc .search-form {
  position: relative;
}
.slide-group .title-box .search-form .search-box,
.slide-group .stop-desc .search-form .search-box {
  width: 55%;
  float: right;
  height: 20px;
}
.slide-group .title-box .search-form i,
.slide-group .stop-desc .search-form i {
  padding-top: 6px;
  font-size: 0.5em;
  position: absolute;
  right: 5px;
}
.slide-group .stop-desc {
  padding-bottom: 10px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.slide-group .stop-desc h2 {
  font-weight: normal;
  font-size: 13pt;
}
.slide-group .stop-desc span {
  font-weight: normal;
  font-size: 9pt;
}
.slide-group .content-box {
  width: 100%;
  bottom: 0px;
  top: 30px;
  position: absolute;
}
.slide-group .content-box .line-nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.slide-group .content-box .line-nav ul li {
  display: table-cell;
  text-align: center;
  padding: 5px 5px;
  font-weight: bolder;
  background-color: #e5e5e5;
  color: #5b5b5b;
  cursor: pointer;
  font-size: 10.8pt;
}
.slide-group .content-box .line-nav ul li:last-child {
  border-right: none;
}
.slide-group .content-box .line-nav ul li:hover,
.slide-group .content-box .line-nav ul li.active {
  color: #333333;
}
.slide-group .content-box .line-nav ul li.active {
  background-color: transparent;
}
.slide-group .content-box .line-nav ul li.LRT1 {
  border-bottom: 5px solid #fdc33c;
}
.slide-group .content-box .line-nav ul li.LRT2 {
  border-bottom: 5px solid #ad86bc;
}
.slide-group .content-box .line-nav ul li.MRT {
  border-bottom: 5px solid #5384c4;
}
.slide-group .content-box .line-nav ul li.PNR {
  border-bottom: 5px solid #f28740;
}
.slide-group .content-box .line-nav table {
  margin: 0 auto;
  background: none;
}
.slide-group .content-box .line-nav table th {
  background-color: white;
  font-weight: bold;
}
.slide-group .content-box .line-nav table tr {
  background: none;
}
.slide-group .content-box .line-nav table tr td {
  font-size: 8pt;
  line-height: 15px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-align: left;
}
.slide-group .content-box .line-nav table.contact-desc {
  left: 0px;
  position: absolute;
  top: 0px;
  background-color: #e5e5e5;
  border-left: 6px solid #cccccc;
  width: 200px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: left;
}
.slide-group .content-box .line-nav table.contact-desc.active {
  left: -200px;
}
.slide-group .content-box div.showdetails {
  display: block;
}
.slide-group .content-box table.showdetails {
  display: table;
}
.slide-group .content-box div.nodetails,
.slide-group .content-box table.nodetails {
  display: none;
}
.slide-group .content-box .categories-list > div {
  background-color: white;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.slide-group .content-box .categories-list > div ul {
  width: 80%;
  margin: 0 auto;
}
.slide-group .content-box .categories-list > div ul li {
  display: table-cell;
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.5em;
  height: 45px;
  color: #8b8b8b;
}
.slide-group .content-box .categories-list > div ul li.selected {
  color: #585858;
}
.slide-group .content-box .categories-list > div ul li i {
  border: 1px solid #8b8b8b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
}
.slide-group .content-box .categories-list > div ul li i.selected {
  border: 1px solid #585858;
}
.slide-group .content-box .categories-list > div ul div.highlight {
  cursor: pointer;
  position: relative;
  top: 36px;
  background: #5cc15a;
  height: 5px;
  width: 32px;
}
.slide-group .content-box .block,
.slide-group .content-box .antiscroll-inner,
.slide-group .content-box .places-list {
  width: 255px;
  height: 520px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slide-group .content-box .block,
  .slide-group .content-box .antiscroll-inner,
  .slide-group .content-box .places-list {
    height: 460px;
  }
}
.slide-group .content-box .antiscroll-wrap .block .antiscroll-inner .places-list {
  padding: 10px;
}
.slide-group .content-box .antiscroll-wrap .block .antiscroll-inner .places-list ul {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}
.slide-group .content-box .antiscroll-wrap .block .antiscroll-inner .places-list ul .name {
  float: left;
  width: 65%;
  font-size: 0.9em;
}
.slide-group .content-box .antiscroll-wrap .block .antiscroll-inner .places-list ul .dist {
  float: left;
  padding-left: 20px;
  font-size: 0.9em;
}
.slide-group .content-box .antiscroll-wrap .block .antiscroll-inner .places-list ul .square {
  float: right;
  width: 10px;
  height: 10px;
}
.slide-group .content-box a {
  font-size: bold;
  float: right;
  padding: 10px;
}
.slide-group .images-box {
  width: 100%;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.slide-group .images-box h3 {
  line-height: 2em;
  background: #e5e5e5;
  padding-left: 10px;
}
.slide-group .images-box img {
  width: 240px;
  height: 150px;
}
.slide-group .images-box .sub-image {
  padding-bottom: 3px;
}
.slide-group .images-box .sub-image li .image-group {
  width: 243px;
}
.slide-group .images-box .sub-image li .image-group img {
  float: left;
  width: 78px;
  height: 60px;
  padding-right: 3px;
  padding-top: 3px;
}
.slide-group .slideshow-content {
  margin: 10px;
}
.slide-group .places-box {
  padding-bottom: 10px;
}
.slide-group .places-box > div {
  background: #e5e5e5;
  width: 100%;
  height: 33px;
}
.slide-group .places-box > div h3 {
  line-height: 2em;
  padding-left: 10px;
  float: left;
}
.slide-group .places-box > div i {
  float: left;
  right: 0px;
  position: absolute;
  padding-top: 10px;
  padding-right: 10px;
}
.slide-group .places-box ul {
  padding: 5px 20px;
  display: inline-block;
  width: 100%;
}
.slide-group .places-box ul li {
  font-size: 9pt;
  line-height: 15px;
  clear: both;
}
.slide-group .places-box ul li a {
  float: none;
  padding: 0px;
}
.slide-group .places-box ul li a .name {
  float: left;
  width: 80%;
}
.slide-group .places-box ul li a .distance {
  float: right;
}
.slide-group .tips {
  padding: 10px;
  text-align: justify;
  font-size: 0.9em;
}
.slide-group .tips p {
  padding-bottom: 10px;
}
/* d3 svg */
rect.LRT1,
.vertical.LRT1 {
  fill: #fdc33c;
}
rect.LRT2,
.vertical.LRT2 {
  fill: #ad86bc;
}
rect.MRT,
.vertical.MRT {
  fill: #5384c4;
}
rect.PNR,
.vertical.PNR {
  fill: #f28740;
}
.stop,
.transfer {
  cursor: pointer;
  fill: white;
  stroke-width: 2px;
}
.stop.LRT1,
.transfer.LRT1 {
  stroke: #fdc33c;
}
.stop.LRT2,
.transfer.LRT2 {
  stroke: #ad86bc;
}
.stop.MRT,
.transfer.MRT {
  stroke: #5384c4;
}
.stop.PNR,
.transfer.PNR {
  stroke: #f28740;
}
.stop.transferee,
.transfer.transferee {
  stroke: black;
}
.label,
.transfer {
  font-size: 0.6em;
}
.label {
  text-anchor: end;
}
text.transfer {
  fill: black;
}
.stop-marker {
  border: solid 4px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.PNR-marker {
  border-color: #f28740;
}
.LRT1-marker {
  border-color: #fdc33c;
}
.LRT2-marker {
  border-color: #ad86bc;
}
.MRT-marker {
  border-color: #5384c4;
}
/* font styles */
.icon-close,
.icon-sights,
.icon-shopping,
.icon-hotel,
.icon-box-add,
.icon-office,
.icon-transfer,
.icon-hospital,
.icon-protest,
.icon-blogger,
.icon-facebook,
.icon-twitter,
.icon-search {
  float: right;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-close:before {
  content: "\e000";
}
.icon-sights:before {
  content: "\e001";
}
.icon-shopping:before {
  content: "\e002";
}
.icon-hotel:before {
  content: "\e003";
}
.icon-box-add:before {
  content: "\e007";
}
.icon-office:before {
  content: "\e008";
}
.icon-transfer:before {
  content: "\e009";
}
.icon-hospital:before {
  content: "\e00a";
}
.icon-protest:before {
  content: "\e00b";
}
.icon-blogger:before {
  content: "\e004";
}
.icon-facebook:before {
  content: "\e005";
}
.icon-twitter:before {
  content: "\e006";
}
.icon-search:before {
  content: "\e00c";
}
