@import url(./normalize.css);

/* variables */

@lrt1 : #fdc33c;
@lrt2 : #ad86bc;
@mrt : #5384c4;
@pnr : #f28740;
@gray : #ccc;
@darkGray : #333;
@linkColor : #5cc15a;
@textHighlight : #585858;
@textNoHighlight : #8b8b8b;
@trainlineColor : #5b5b5b;
@trainlineBg : #e5e5e5;
@jeepColor : #9acd32;
@busColor : #dc143c;

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* mixins */

.trainlinks-colorstyle {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: gray;
  -webkit-text-stroke-width: 1px;
}

.round-border (@weight: 2px){
  -webkit-border-radius: @weight;
  -moz-border-radius: @weight;
  border-radius: @weight;
}

.circle-shape (@color: #222){
  width: 20px;
  height: 20px;
  background: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: -11px;
  float: left;
  border: 5px solid @color;
}

/* elements */

html{
  height: 100%;
}

.container{
  height: 100%;
  width: 100%;
  position: absolute;
  &.adjust {
    left: -300px;
  }
}

body {
  height: 100%;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 19pt;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}

h6 {
  background-color: @trainlineBg;
  padding: 10px;
  font-weight: bolder;
}

a {
  color: #00B7FF;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  table-layout: fixed;
  td {
    word-wrap: break-word;
    text-align: center;
  }
}

.clearfix{
  clear: both;
}

/* sidebar */

.sidebar{
  width: 18%;
  min-width: 260px;
  max-width: 270px;
  height: 100%;
  position: fixed;
  background: white;
  float: right;
  top: 0;
  right: 0;
  border-left: 1px solid @gray;
  z-index: 1;
  .header{
    font-size: 25pt;
    margin: 5px 10px 10px 10px;
    .title{
      width: 35%;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      h1 {
        font-weight: bold;
        font-size: 0.7em;
      }
      p {
        font-size: 9pt;
        line-height: 15px;
      }
    }
    .logo{
      float: left;
      img {
        width: 68px;
        height: 68px;
      }
    }
    .train-links {
      font-size: 0.7em;
      top: 50px;
      position: absolute;
      left: 165px;
      span {
        padding-left: 10px;
        width: 30%;
        display: inline-block;
        a {
          color: @textHighlight;
          background-color: white;
        } 
      }
    }
  }
  .content {
    .control-tabs{
      width: 100%;
      // border-top: 1px solid @gray;
      // border-bottom: 1px solid @gray;    
      background-color: @trainlineBg;
      height: 26px;
      ul{
        list-style: none;
        width: 100%;
        margin: 0 auto;
        font-size: 0.75em;
        li{  
          display: table-cell;
          margin: 0 auto;
          text-align: center;
          padding-left: 25px;                 
          a{               
            float: left;        
            padding-top: 7px;
            text-align: center;                
            color: @textNoHighlight;
            &:hover{
              span {
                border-bottom: 5px solid @linkColor; 
                color: @textHighlight;
              }
            }
            &.active{
              span {
                border-bottom: 5px solid @linkColor; 
                color: @textHighlight;
              }
            }
          }
        }
      }
    }
    .directions {
      h4 {
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 5px;
      }
      label {
        display: inline-block;
        text-align: right;
        width: 20%;
        padding-right: 5px;
        font-size: 0.85em;
      }
      input[type="text"] {
        width: 80%;
        display: inline-block;
      }
      select {
        width: auto;
      }
      form, ul {
        margin: 5px;
      }   
      .selectedroute {
        border-left-width: medium;
        border-style: solid;
        border-color: @linkColor;
        margin-left: -5px;
      }
      .routes {
        cursor: pointer;
        text-align: right;
        font-size: 0.8em;
        div {
          overflow: hidden;
          ul {
            float: left;
            margin: 0px;
            width: 60%;
            text-align: left;
            li.route-steps {
              display: inline-block;
              margin: 0 auto;
              padding-left: 2px;
              .route-box {
                background: none;
                font-size: 1.5em;
                line-height: 0.5em;
                &.LRT1 {
                  color: @lrt1;
                }
                &.LRT2 {
                  color: @lrt2;
                }
                &.MRT {
                  color: @mrt;
                }
                &.PNR {
                  color: @pnr;
                }
                &.JEEP {
                  color: @jeepColor;
                }
                &.BUS {
                  color: @busColor;
                } 
              }
            } 
          }
        }
      }   
      .block, .antiscroll-inner, .steps-list {
        width: 255px;
        height: 230px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          height: 170px;
        }
      }        
      .antiscroll-wrap {
        .block {
          .antiscroll-inner {
            .steps-list {
              .steps {
                padding-left: 20px;
              }
              .align {
                padding-left: 3px; 
              }
              .clickable {
                cursor: pointer;
              }
              .WALK {
                border-style: dotted;
                border-left-width: medium;
                &.circle {
                  .circle-shape;
                }
              }
              .JEEP, .BUS {                
                border-style: solid;
                border-left-width: medium;
              }
              .JEEP {
                border-color: @jeepColor;
                &.circle {
                  .circle-shape(@jeepColor);
                }
              }
              .BUS {
                border-color: @busColor;
                &.circle {
                  .circle-shape(@busColor);
                }
              }
              .RAIL {
                border-style: solid;
                border-left-width: medium;
                &.LRT1 {
                  border-color: @lrt1;
                  &.circle {
                    .circle-shape(@lrt1);
                  }
                }
                &.LRT2 {
                  border-color: @lrt2;
                  &.circle {
                    .circle-shape(@lrt2);
                  }
                }
                &.MRT {
                  border-color: @mrt;
                  &.circle {
                    .circle-shape(@mrt);
                  }
                }
                &.PNR {
                  border-color: @pnr;
                  &.circle {
                    .circle-shape(@pnr);
                  }
                }
              }
              p, ul.direction-steps {
                padding-left: 15px;
                font-size: 0.8em;
                padding-top: 0.3em;
                padding-bottom: 0.3em;
                background-color: white;
              } 
            }
          }
        }
      }
    }
  }
  .footer{
    position: absolute;
    bottom: 0px;  
    // border-top: 1px solid @gray;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid @trainlineBg;
    ul {
      width: 100%;
      margin: 0 auto;
      li {
        display: table-cell;
        margin: 0 auto;
        a{
          padding: 0 27px;
          padding-bottom: 5px;
          color: @darkGray;
          span{      
            font-size: 9pt;
          }  
        }     
      }
    }
  }
}

/* line colors */


.LRT1{
  background: @lrt1;
}

li.LRT1.clicked{
  background: @lrt1;
  height: 200px;
  p{
    font-size: 12px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.LRT2{
  background: @lrt2;
}

li.LRT2.clicked{
  background: @lrt2;
  height: 200px;
  p{
    font-size: 12px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.MRT{
  background: @mrt;
}

li.MRT.clicked{
  background: @mrt;
  height: 200px;
  p{
    font-size: 12px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.PNR{
  background: @pnr;
}

li.PNR.clicked{
  background: @pnr;
  height: 200px;
  p{
    font-size: 12px;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
  }
}

/* slidegroup */

.slide-group{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 1;
  border-left: 1px solid @gray;
  .slide{
    display: none;
  }
  .active{
    display:block;
  }
  .title-box, .stop-desc {
    margin: 5px 10px;
    h2{
      font-weight: bold;   
      &.place {
        width: 45%;
        float: left;
      } 
    }
    p{
      font-size: 9pt;   
      line-height: 15px;
    }
    span {
      font-weight: normal;
      font-size: 13pt;
    }
    .search-form {
      position: relative;
      .search-box {
        width: 55%;
        float: right;
        height: 20px;
      }
      i {
        padding-top: 6px;
        font-size: 0.5em;
        position: absolute;
        right: 5px;
      }
    }
  }

  .stop-desc {
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    h2{
      font-weight: normal;    
      font-size: 13pt;
    }
    span {
      font-weight: normal;
      font-size: 9pt;
    }
  }

  .content-box {
    // background-color: #eee;
    width: 100%;
    bottom: 0px;
    top: 30px;
    position: absolute;
    // border-top: 1px solid @gray;
    .line-nav {
      // background: #fdc33c;
      ul {
        display: table;
        table-layout: fixed;
        width: 100%;
        li {
          display: table-cell;
          text-align: center;
          padding: 5px 5px;
          font-weight: bolder;
          background-color: @trainlineBg;
          color: @trainlineColor;
          cursor: pointer;
          font-size: 10.8pt;
          &:last-child {
            border-right: none;
          }
          &:hover, &.active {
            color: @darkGray;
          }
          &.active {
            background-color: transparent;
          }
          &.LRT1{
            border-bottom: 5px solid @lrt1;
          }
          &.LRT2{
            border-bottom: 5px solid @lrt2;
          }
          &.MRT{
            border-bottom: 5px solid @mrt;
          }
          &.PNR{
            border-bottom: 5px solid @pnr;
          }
        }
      }
      table {
        margin: 0 auto;
        background: none;
        th {
          background-color: white;
          font-weight: bold;
        }
        tr {
          background: none;
          td {
            font-size: 8pt;   
            line-height: 15px;
            padding-top: 0px;
            padding-right: 5px;
            padding-bottom: 0px;
            padding-left: 10px;
            text-align: left;
          }   
        }
        &.contact-desc {
          left: 0px;
          position: absolute;
          top: 0px;
          background-color: @trainlineBg;
          border-left: 6px solid @gray;
          width: 200px;
          border-top: 1px solid @gray;
          border-right: 1px solid @gray;
          border-bottom: 1px solid @gray;
          text-align: left;
          &.active {
            left: -200px;
          }
        }
      }
    }
    div.showdetails {
      display: block;
    }
    table.showdetails {
      display: table;
    }
    div.nodetails, table.nodetails {
      display: none;
    }
    .categories-list {
      > div {
        background-color: white;
        border-top: 1px solid @gray;
        border-bottom: 1px solid @gray;
        ul {
          width: 80%;
          margin: 0 auto;
          li {
            display: table-cell;
            margin: 0 auto;
            text-align: center;
            padding: 5px 5px;
            font-weight: bolder;
            cursor: pointer;
            font-size: 1.5em;
            height: 45px;
            color: @textNoHighlight;
            &.selected {
              color: @textHighlight;
            }
            i {
              border: 1px solid @textNoHighlight;
              .round-border (5px);
              padding: 3px;
              &.selected {
                border: 1px solid @textHighlight;
              }
            }
          }
          div.highlight {
            cursor: pointer;
            position: relative;
            top: 36px;
            background: @linkColor;
            height: 5px;
            width: 32px;
          }
        }
      }
      // h6 {
      //   background-color: @trainlineBg;
      //   padding: 10px;
      //   font-weight: bolder;
      // }
    }
    .block, .antiscroll-inner, .places-list {
      width: 255px;
      height: 520px;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        height: 460px;
      }
    }
    .antiscroll-wrap {
      .block {
        .antiscroll-inner {
          .places-list {
            padding: 10px;
            ul {
              display: inline-block;
              width: 100%;
              padding: 10px 0px;
              .name {
                float: left;
                width: 65%;
                font-size: 0.9em;
              }
              .dist {
                float: left;
                padding-left: 20px;
                font-size: 0.9em;
              }  
              .square {
                float: right;
                width: 10px;
                height: 10px;
              }
            } 
          }
        }
      }
    }
    a {
      font-size: bold;
      float: right;
      padding: 10px;
    }
  }

  .images-box {
    width: 100%;
    // border-top: 1px solid @gray;
    // border-bottom: 1px solid @gray;
    position: relative;  
    display: inline-block;
    padding-bottom: 10px;
    h3 {
      line-height: 2em;
      background: @trainlineBg;
      padding-left: 10px;
    }
    img {
      width: 240px;
      height: 150px;
    }
    .sub-image {
      padding-bottom: 3px;
      li{
        .image-group {
          width: 243px;        
          img {
            float: left;
            width: 78px;
            height: 60px;
            padding-right: 3px;
            padding-top: 3px;
          }
        }    
      }
    }    
  }

  .slideshow-content{
    margin: 10px;
  }

  .sights-box {
    // border-bottom: 1px solid @gray;
  }

  .places-box {
    padding-bottom: 10px;
    > div {
      background: @trainlineBg;
      width: 100%;
      height: 33px;
      h3 {
        line-height: 2em;
        padding-left: 10px;
        float: left;
      }
      i {
        float: left;
        right: 0px;
        position: absolute;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
    ul{
      padding: 5px 20px;
      display: inline-block;
      width: 100%;
      li {
        font-size: 9pt;   
        line-height: 15px;
        clear: both;
        a {
          float: none;
          padding: 0px;
          .name {
            float: left;
            width: 80%;
          }
          .distance {
            float: right;
          } 
        }
      } 
    }
  }
  .tips {
    padding: 10px;
    text-align: justify;
    font-size: 0.9em;
    p {
      padding-bottom: 10px;
    }
  }
}

/* d3 svg */

rect, .vertical {
  &.LRT1 {
    fill: @lrt1;
  }
  &.LRT2 {
    fill: @lrt2;
  }
  &.MRT {
    fill: @mrt;
  }
  &.PNR {
    fill: @pnr;
  }
}

.stop, .transfer {
  cursor: pointer;
  fill: white;  
  stroke-width: 2px;
  &.LRT1 {
    stroke: @lrt1;
  }
  &.LRT2 {
    stroke: @lrt2;
  }
  &.MRT {
    stroke: @mrt;
  }
  &.PNR {
    stroke: @pnr;
  }
  &.transferee {
    stroke: black;
  }
}

.label, .transfer {
  font-size: 0.6em;
}

.label {
  text-anchor: end;
}

text {
  &.transfer {
    fill: black;
  }
}

.stop-marker{
  border: solid 4px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.PNR-marker{
  border-color: @pnr;
}

.LRT1-marker{
  border-color: @lrt1;
}

.LRT2-marker{
  border-color: @lrt2;
}

.MRT-marker{
  border-color: @mrt;
}

/* font styles */

.icon-close, .icon-sights, .icon-shopping, .icon-hotel, 
.icon-box-add, .icon-office, .icon-transfer, .icon-hospital, 
.icon-protest, .icon-blogger, .icon-facebook, .icon-twitter,
.icon-search {
  float: right;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-close:before {
  content: "\e000";
}
.icon-sights:before {
  content: "\e001";
}
.icon-shopping:before {
  content: "\e002";
}
.icon-hotel:before {
  content: "\e003";
}
.icon-box-add:before {
  content: "\e007";
}
.icon-office:before {
  content: "\e008";
}
.icon-transfer:before {
  content: "\e009";
}
.icon-hospital:before {
  content: "\e00a";
}
.icon-protest:before {
  content: "\e00b";
}
.icon-blogger:before {
  content: "\e004";
}
.icon-facebook:before {
  content: "\e005";
}
.icon-twitter:before {
  content: "\e006";
}
.icon-search:before {
  content: "\e00c";
}

